* {
	margin: 0;
	padding: 0;
	box-sizing: border-boxs;
}

.container {
	max-width: 70%;
	margin: auto;
}

nav {
	padding: 1rem;
	background: rgb(44, 46, 77);
}

nav h1 {
	color: white;
	font-family: Mulish, sans-serif;
}

.repo {
	padding: 1.2rem;
	background: #363b83;
	border: 1px solid #363b83;
	border-radius: 5px;
	width: 40%;
	color: rgb(231, 223, 223);
	margin: 20px auto;
	font-family: Mulish, sans-serif;
}

.nav {
	display: flex;
	align-items: center;
}

.lang {
	display: flex;
}

.langColor {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.data div {
	margin: 0 5px;
}

.data {
	display: flex;
}

.num {
	margin: 0 2px;
}

.description {
	margin: 10px 0;
}
