* {
	margin: 0;
	padding: 0;
	box-sizing: border-boxs;
}

.container {
	max-width: 70%;
	margin: auto;
}

nav,
footer {
	padding: 1rem;
	background: rgb(44, 46, 77);
	color: white;
}

nav h1 {
	color: white;
	font-family: Mulish, sans-serif;
}

.repo {
	padding: 1.2rem;
	background: #363b83;
	border: 1px solid #363b83;
	border-radius: 5px;
	width: 50%;
	color: rgb(231, 223, 223);
	margin: 20px auto;
	font-family: Mulish, sans-serif;
}

.nav {
	display: flex;
	align-items: center;
}

.lang {
	display: flex;
	justify-content: center;
	align-self: center;
}

.langColor {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 5px;
}

.data div {
	margin: 0 5px;
}

.data {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.num {
	margin: 0 2px;
}

.fa-github {
	color: white;
}

.description {
	margin: 10px 0;
	font-family: Quicksand, sans-serif;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Mulish, sans-serif;
}

.loading {
	text-align: center;
	margin: 15rem;
}

.footer a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
@media (max-width: 890px) {
	.repo {
		width: 70%;
	}
}
@media (max-width: 500px) {
	.repo {
		width: 80%;
	}
}
@media (max-width: 400px) {
	nav h1 {
		font-size: 1.1rem;
	}

	.fa-github {
		font-size: 2rem;
	}
	.repo {
		width: 90%;
		font-size: 0.8rem;
		padding: 10px;
	}
}
